#main{
    width:100%;
}



h3{
    margin-top: 2%;
}

label{
    height: 30px;
    padding-top: 5px;
}

input{
    border: none;
    background-color: antiquewhite;
    height: 30px;
}

form li {  
    list-style: none;  
    margin-bottom: 5px; 
    font-size:17px;  
}  
      
form ul li label{  
    float: left;  
    clear: left;  
    width: 100px;  
    text-align: left; 
    margin-right: 7px;
    font-family:Verdana, Arial, Helvetica, sans-serif;  
    padding-bottom: 2%;
}  

form ul li input, select, span {
    float: left;
    margin-bottom: 10px;
    height: 30px;
    padding-top: 1%;
    padding-right: 2%;
}
select{
    padding-top: 0%;
    padding-inline-end: 2%;
}

form textarea {  
    float: left;  
    width: 350px;  
    height: 150px;
    margin: 2%;  
}  


[type="submit"] {  
    clear: left;  
    margin: 20px 0 0 230px;  
    font-size:18px;
    background-color: rgb(1, 65, 124);
    padding-bottom: 1%;
    margin-bottom: 3%;
}  

p {  
    margin-left: 70px;  
    font-weight: bold;  
}  

.header{
    padding: 25px;
    font-size: 350%;
    text-align: center;
    border: 1px solid #eee;
}
.inputMain{

    width: 48%;
    display: block;
    float: left;
    text-align: center;
}

.inputHeader{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding: 2%;
}

.categories{
    padding: 0 2% 2% 2% ; 
    font-size: large;
}

.previewMain #container{
    width: 50%;
    float: right;
    border-style: solid;
    border-collapse: collapse;
    border-color: rgb(59, 59, 58);
    background-color: azure;
    text-align: center;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
}

a:link {
    color: rgb(11, 23, 194);

  }


img {
    border-radius: 50%;
    height: 20%;
}


p {
    font-family: sans-serif;
    font-size: 100%;
}

.left {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    width: 32%;
    background-color: #c9d4fa;
    position: relative;
    height: 100%;
}

.right {
    text-align: left;
    background-color: ghostwhite;
    float: right;
    width: 65%;   
    height: 100%; 
}

table {
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 15%;
    text-align: center;
   
}

h1 {
    border-left-style: solid;
    border-color: rgb(1, 19, 119);
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #afc0fa;
}

h2 {
    font-size: 170%;
    font-family: 'Oswald', sans-serif;
    border-bottom-style: solid;
    border-bottom-color: rgb(33, 51, 155);;
    text-align: left;
}


h1, h2{
    font-weight: bold;
}

.contact{
    text-decoration: #adb8f3;
    margin-left: 4%;
    text-align: left;
}
#lang,#mail,#address{
    text-align: left;
    margin-left: 8%;
    font-size: 120%;
}


tr:nth-child(even) {
    background-color: #e4eaf8;
}

tr:nth-child(odd) {
    background-color: #d0dafa;
}

#container {
    width: 100%;
    height: 100%;
}

a:link {
    color: rgb(106, 11, 194);

  }


img {
    border-radius: 50%;
    height: 20%;
}


p {
    font-family: sans-serif;
    font-size: 100%;
}

.left {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    width: 32%;
    background-color: #dadada;
    position: relative;
    height: 100%;
}

.right {
    text-align: left;
    background-color: ghostwhite;
    float: right;
    width: 65%;   
    height: 100%; 
}

table {
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 15%;
    text-align: center;
   
}

h1 {
    border-left-style: solid;
    border-color: #6d6d6d;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #d9dcdd;
}

h2 {
    font-size: 170%;
    font-family: 'Oswald', sans-serif;
    border-bottom-style: solid;
    border-bottom-color: #787879;
    text-align: left;

}


h1, h2{
    font-weight: bold;
}

.contact{
    text-decoration: #a6a5a7;
    margin-left: 4%;
    text-align: left;
}
#lang,#mail,#address{
    text-align: left;
    margin-left: 8%;
    font-size: 120%;
}


tr:nth-child(even) {
    background-color: #dededf;
}

tr:nth-child(odd) {
    background-color: #d3d1d1;
}

#container {
    width: 100%;
    height: 100%;
}

a:link {
    color: rgb(106, 11, 194);

  }


img {
    border-radius: 50%;
    height: 20%;
}


p {
    font-family: sans-serif;
    font-size: 100%;
}

.left {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    width: 32%;
    background-color: #d7c4df;
    position: relative;
    height: 100%;
}

.right {
    text-align: left;
    background-color: ghostwhite;
    float: right;
    width: 65%;   
    height: 100%; 
}

table {
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 15%;
    text-align: center;
   
}

h1 {
    border-left-style: solid;
    border-color: rgb(146, 74, 212);
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #d7c4df;
}

h2 {
    font-size: 170%;
    font-family: 'Oswald', sans-serif;
    border-bottom-style: solid;
    border-bottom-color: #856a91;
    text-align: left;

}


h1, h2{
    font-weight: bold;
}

.contact{
    text-decoration: #856a91;
    margin-left: 4%;
    text-align: left;
}
#lang,#mail,#address{
    text-align: left;
    margin-left: 8%;
    font-size: 120%;
}


tr:nth-child(even) {
    background-color: #f3e4f8;
}

tr:nth-child(odd) {
    background-color: #edd0fa;
}

