.nav-links{
    display: flex;
    position: absolute;
    top: 40px;
    right: 500px;
    gap: 30px;
    text-align: center;
    text-overflow: clip;
    list-style-type: none;
    color: white;

}
.navbar{
    background-color: rgb(239, 239, 239);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.nav-links::after{
    color: black;
    content: '';
    display: block;
}